* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.clicker p {
    font-size: 20px;
    color: purple;
}
.clicker {
    width: 300px;
    height: 300px;
    border: 3px solid white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.buttons {

}
.plus {
    padding: 5px 15px;
    border-radius: 10%;
    font-size: 20px;
    color: deepskyblue;
    border: 1px solid deepskyblue;
    cursor: pointer;

}
.reset {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10%;
    border: 1px solid coral;
    color: coral;
}
.minus {
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 10%;
    font-size: 20px;
    color: red;
    border: 1px solid red;
}
.indicator {
    font-size: 24px;
}